<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kilogod.code.mapper.AddressInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kilogod.code.domain.AddressInfo">
                    <id column="id" property="id"/>
                    <result column="user_id" property="userId"/>
                    <result column="name" property="name"/>
                    <result column="phone" property="phone"/>
                    <result column="mobile" property="mobile"/>
                    <result column="prov" property="prov"/>
                    <result column="city" property="city"/>
                    <result column="area" property="area"/>
                    <result column="address" property="address"/>
                    <result column="is_default" property="isDefault"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="ext1" property="ext1"/>
                    <result column="ext2" property="ext2"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, user_id, name, phone, mobile, prov, city, area, address, is_default, create_time, update_time, ext1, ext2
        </sql>
    <update id="updateAll">
        update address_info set is_default='0' where user_id=#{userId}
    </update>

</mapper>