<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kilogod.code.mapper.SystemConfigMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kilogod.code.domain.SystemConfig">
                    <id column="id" property="id"/>
                    <result column="config_key" property="configKey"/>
                    <result column="config_value" property="configValue"/>
                    <result column="config_name" property="configName"/>
                    <result column="config_type" property="configType"/>
                    <result column="remark" property="remark"/>
                    <result column="orderNo" property="orderNo"/>
                    <result column="in_use" property="inUse"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="ext1" property="ext1"/>
                    <result column="ext2" property="ext2"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, config_key, config_value, config_name, config_type, remark, orderNo, in_use, create_time, update_time, ext1, ext2
        </sql>

</mapper>